body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

img{
  width: 100%;
  height: auto;
  display: block;
}

body{
  /* background: url(./assets/background.jpg); */
  /* background: grey; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

.wrapper{
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

li {
  list-style-type: none;
}

.App{
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
  color: white;
  font-size: 30px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header{
  /* background: #bcbca6;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  text-align: left; */
}

.rightHalf{
  /* background: #cdc4b9; */
  /* background: #bcbca6; */
  background: #545152;
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  text-align: left;
}

h1{
  font-family: 'Merienda One', cursive;
  margin: 0;
  font-size: 6vmax;
  text-shadow: 5px 5px #cdc4b9;
}

h2{
  font-size: 3vmax;
  font-family: 'Merienda One', cursive;
}

a{
  text-decoration: none;
  color: white;
}

/* Home styling */

button{
  /* padding: 10px 30px; */
  /* border-radius: 10px; */
  border: none;
  /* margin: 0 20px; */
  /* background: rgba(0,0,0,0.75); */
  /* text-transform: uppercase; */
  /* font-size: 16px; */
  letter-spacing: 1.5px;
  /* background: #545152; */
  color: white;
  transition: all 0.7s;
  /* border: 1px dotted #cdc4b9; */
  background: transparent;
  /* padding-bottom: 10px; */
}


.homeButton,
.restart button{
  /* margin: 20px 0; */
  padding: 0 0 20px 0;
  margin-left: 0;
  font-weight: bold;
  margin-right: 30px;
}

/* Form styling */

.form{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* padding: 20px 20px 20px 40px; */
  border-radius: 10px;
  /* width:100%; */
  /* justify-content: center; */
}

.form input{
  /* text-align: center; */
  /* padding: 10px; */
  /* border-radius: 10px; */
  border: none;
  /* border-bottom: 2px solid white; */
  margin: 20px 0;
  color: white;
  background-color: transparent;
}

.form input:focus{
  color: white;
}

/* .form button{
  padding: 10px;
  border-radius: 10px;
  width: 150px;
} */

/* List styling */

.relatedWordsFlex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.relatedWords{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.relatedWords div{
  margin: 20px;
}

.relatedWords li{
  list-style: none;
  margin-right: 30px;
}

.relatedWords button {
  padding: 20px 0;
}

.moreWordsButton{
  align-self: flex-end;
}

/* .relatedWords button{
  width: 100%;
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
} */

/* Left half styling */

.printedHaiku{
  color: #545152;
  background: rgba(255,255,255, 0.75);
  /* min-height: 100vh; */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 40vh; */
  margin: auto;
  
}

.autoCompleteSuggestions {
  background-color: #cdc4b9;
}

.leftHalf{
  background: url(./assets/japanese-flowers.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-width: 460px;
  justify-content: flex-end;
}

.line{
  margin: 0;
  line-height: 70px;
}

.underline {
  font-style: italic;
  color: #545152;
}

.japanese{
  color: #cdc4b942;
  /* font-size: 175px; */
  /* width: 100%; */
  /* position: relative; */
  margin: 0 auto;
  width: 400px;
  
}

.restart{
  padding: 7vmax;
  outline: 0.5px dashed #bcbca6;
  text-align: center;
}

.autoCompleteSuggestions ul{
  padding: 0;
}

.autoCompleteSuggestions li{
  padding-left: 30px;
}

.autoCompleteSuggestions button {
  background-color: transparent;
  color: #545152;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  text-align: left;
}

.autoCompleteSuggestions button:focus,
.autoCompleteSuggestions button:hover {
  transform: none;
  color: white;
}

.autoCompleteSuggestions li:focus,
.autoCompleteSuggestions li:hover {
  background-color: #545152;
  color: white;
}

button{
  position: relative;
  transition: 0.3s;
  padding: 10px;
}

button:before{
  content: '';
  border-bottom: 1px solid #bcbca6;
  /* border-bottom: 1px solid white; */
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.5s;
}

button:hover,
button:focus {
  color: #F6ADBF;
}
        
button:hover:before,
button:focus:before{
  width: 100%;
  padding: 0;
}


/* font-family: 'Merienda One', cursive;

font-family: 'Barlow', sans-serif; */

/* responsive design */

@media (max-width: 980px) {

  h1{
    font-size: 5.5vmax;
    text-shadow: 4px 4px#cdc4b9;
  }

  .rightHalf p {
    font-size: 18px;
  }

  .homeButton {
    font-size: 16px;
  }

  .chosenword {
    font-size: 16px;
  }

  .moreWordsButton button {

    font-size: 16px;

  }

  .leftHalf {

    font-size: 25px;


  }

  .restart button {

    font-size: 16px;
  }


}

@media (max-width: 860px) {

  .leftHalf {
    min-width: 50%;
  }

  .rightHalf {
    min-width: 50%;
  }

  .japanese {
    width:60%;
  }

}

@media(max-width: 800px){
  .form {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 680px){

  .App {
    flex-direction: column;
  }

  .leftHalf {
    min-height: 50vh;
    width: 100%;
  }

  .rightHalf {
    min-height: 50vh;
    width: 100%;
    text-align: center;
  }

  .japanese {
    display: none;
  }

  .form {
    justify-content: center;
  }
}

@media (max-width: 600px){

  h1 {
    font-size: 5vmax;
    padding-top: 10px;
  }

  .rightHalf p {
    font-size: 16px;
  }

  .rightHalf {
    min-height: 40vh;
  }

  .leftHalf {
    min-height: 60vh;
  }

}
